.cell {
  width: 30px;
  text-align: center;
  height: 30px;
  cursor: pointer;
  border: 1px solid purple;
  background-color:cornflowerblue;

  @media(min-width: 768px) {
    width: 45px;
    height: 45px;
  }

  @media(min-width: 1024px) {
    width: 50px;
    height: 50px;
  }

  @media(min-width: 1200px) {
    width: 60px ;
    height: 60px;
  }


  &.miss {
    background-color: grey;
  }
  &.hit {
    background-color: orange
  }
  &.sunk {
    background-color: orangered;
  }
}