.game {
  padding:0;
}
.gameDisabled {
  pointer-events: none;
  opacity: 0.5;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;

  background-color: purple;
  color: gold;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  h1 {
    text-align: center;
    color: white;
    font-size: 40px;
  }
  .buttons {
    text-align: center;
    margin-bottom: 32px;

    button {
      border: none;
      background-color: purple;
      border: 1px solid gold;
      padding: 16px 30px;
      margin: 8px;
      color: gold;
      text-transform: uppercase;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: gold;
        color: purple;
      }
    }
  }
}