.battleField {
  display: flex;
  border: 1px solid;

  .row {
    .cell {
      background-color: aqua;
      width: 30px;
      height: 30px;
      border: 1px solid #fff;
      padding: 10px;
      text-align: center;
      cursor: pointer;
    }
  }
}