.settings {
  display: flex;
  flex-direction: column;

  @media(min-width: 768px) {
    margin-left: 64px;
    margin-right: 64px;
  }

  @media(min-width: 768px) {
    margin-left: 108px;
    margin-right: 108px;
  }

  @media(min-width: 1200px) {
    margin: 0 auto;
    width: 768px;
  }

  h1 {
    text-align: center;
  }

  .message {
    padding: 22px;
  }

  .form {
    text-transform: uppercase;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    

    .control {
      padding: 16px;
      background-color: purple;
      color: gold;
    }

    input[type=number] {
      border: 1px solid gold;
      width: 60px;
      background-color: purple;
      padding: 8px 15px;
      padding-left: 30px;
      color: gold;
      margin-left: 52px;
      font-size: 20px;
    }

    input[type=checkbox] {
      font-size: 20px;
      margin-left: 16px;
    }

    button {
      border: 1px solid purple;
      background-color: gold;
      text-transform: uppercase;
      padding: 16px 30px;
      cursor: pointer;
      color: purple;
      margin: 4px;

      &:hover {
        background-color: purple;
        color: gold;
      }
    }
  }
}